.todo {
  display: flex;
  list-style: none;
  color: white;
  gap: 0.2rem;
  background: #5bb796;
  border-radius: 0.5rem;
  margin: 0.625rem 0;
  padding: 0.5;
  width: 70%;
  height: 20%;
  animation: slideTodo 0.5s ease-in;
}

.text {
  flex: 1;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.3rem;
}

.todo__btn {
  background: white;
  border: none;
  color: black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.5rem;
}

/* ******************** animation KeyFrams *********************** */
@keyframes slideTodo {
  0% {
    opacity: 0;
    transform: translateX(-3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutTodo {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-3.125rem);
  }
}
